.curseclient
/.mixin.out/
/.vscode/
/config/environmental/
/config/jei/bookmarks.ini
/backups/
/crash-reports/
/ESM/
/journeymap/
/local/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/woot/
BotaniaVars.dat
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
reauth.toml
servers.dat
servers.dat_old
TrashSlotSaveState.json
usercache.json
usernamecache.json
